.img-size{
    width: 5rem;
    height: 5rem;
}

.layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
    grid-gap: 5px;
    margin: 10px;
    padding: 15px;
    width: 80%;
}
.c-card{
    margin: 10px;
    padding: 15px;
    background-color: bisque;
    color: black

}
.card h2{
    font-size: larger;
    font-weight: bolder;
}
.h-1{
    
    font-weight: bold;
    color: rgb(12, 12, 12);
}
.c-link{
    background-color: aqua;
    width: 15%;
   
}
.c-link button{
    margin: 20px;
    padding: 20px;
    background-color: darkmagenta;
    color: white; 
      
}
.c-container{
    display: flex;
}

/* mobile responsive */

@media only screen and (max-width: 600px) {
    .layout{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        text-align: left;
        grid-gap: 5px;
        margin: 10px;
        padding: 15px;
        width: 80%;
    }
    .c-link button{

        background-color: darkmagenta;
        color: white;     
    }
    .c-link{
        width: 50%;
    }}